@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Inter&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--app-font-family, "Lexend"), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f8fafd;
}

button {
  border-color: transparent;
  background-color: var(--color-primary);
  color: #fff;
  transform: translate3d(0, -2px, 0);
  padding: 8px 15px;
  cursor: pointer;
  font-size: medium;
  border-radius: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.input-field {
  @apply border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-purple-400 transition;
}
